table.cust-table {
    th {
        @apply border-2 border-slate-500 p-0.5;
    }

    td {
        @apply border border-slate-500 p-0.5;

        .checkbox {
            @apply w-4 h-4 mt-1;
        }
    }

    .edit {
        @apply text-center bg-blue-100 whitespace-nowrap w-18;

        input {
            @apply w-full text-center truncate;
        }
    }

    .view {
        @apply text-center;
    }
}

.show-error {
    display: block;
    color: red;
}

/* 隱藏input type="number"的上下遞增遞減箭頭 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox 隱藏上下箭頭 */
}
