<!-- Button -->
<button  mat-icon-button routerLink="">
    <span class="relative">
        <mat-icon [svgIcon]="'heroicons_outline:home'"></mat-icon>
    </span>
</button> 

<button  mat-icon-button routerLink="settings">
    <span class="relative">
        <mat-icon [svgIcon]="'heroicons_outline:cog'"></mat-icon>
    </span>
</button> 

<button mat-icon-button routerLink="profile">
    <span class="relative">        
        <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>        
    </span>
</button>

<button mat-icon-button (click)="signOut()">
    <span class="relative">
        <mat-icon [svgIcon]="'heroicons_outline:logout'"></mat-icon>    
    </span>    
</button>
