<ng-container *ngIf="!isHistory">
    <ng-container *ngIf="page.data">
        <div class="flex flex-col flex-auto w-full pb-4">

            <form [formGroup]="form" class="flex flex-col sm:flex-row items-center w-full max-w-xs sm:max-w-none">
                <!-- Customer -->
                <mat-form-field class="w-full sm:w-30 fuse-mat-dense">
                    <mat-label>Customer</mat-label>
                    <input type="text" matInput [formControlName]="'customer'" [autocomplete]="'off'">
                </mat-form-field>

                <!-- Project -->
                <mat-form-field class="w-full sm:w-50 mt-2 sm:mt-0 sm:ml-4 fuse-mat-dense">
                    <mat-label>Project</mat-label>
                    <input type="text" matInput [formControlName]="'project'" [autocomplete]="'off'">
                    <mat-error *ngIf="form.get('project').hasError('required')">
                        Project is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('project').hasError('invalidName')">
                        Special characters are not allowed.
                    </mat-error>
                </mat-form-field>

                <!-- version -->
                <mat-form-field class="w-auto mt-4 mr-3 sm:mt-0 sm:ml-4 fuse-mat-dense sm:w-40">
                    <mat-label>version</mat-label>
                    <input matInput [autocomplete]="'off'" [placeholder]="'Version'" [formControlName]="'version'">
                    <ng-container *ngIf="page.dataset.versions.length>0">
                        <mat-icon class="ml-1.5 hover:cursor-pointer" fontSet="material-icons-outlined"
                            [matMenuTriggerFor]="conversionMenu">arrow_drop_down</mat-icon>
                        <mat-menu #conversionMenu="matMenu">
                            <button mat-menu-item *ngFor="let ver of page.dataset.versions" (click)="search(ver.version)">{{ver.version}}</button>
                        </mat-menu>
                    </ng-container>
                    <mat-error *ngIf="form.get('version').hasError('required')">
                        Version is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('version').hasError('duplicate')">
                        Already exists.
                    </mat-error>
                    <mat-error *ngIf="form.get('version').hasError('invalidName')">
                        Special characters are not allowed.
                    </mat-error>
                </mat-form-field>

                <!-- Power Ratio -->
                <mat-form-field class="w-auto mt-4 mr-3 sm:mt-0 fuse-mat-dense sm:w-36">
                    <mat-label>Power Ratio</mat-label>
                    <input numeric-two-digit matInput [autocomplete]="'off'" [formControlName]="'power_ratio'">
                    <span matSuffix class="ml-2">W</span>
                    <mat-error *ngIf="form.get('power_ratio').hasError('required')">
                        Rower Ratio is required.
                    </mat-error>
                </mat-form-field>

                <!-- Delete -->
                <!-- <button class="ml-auto" mat-flat-button color="success" (click)="onDelete()">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:trash'"></mat-icon>
            </button> -->
                <div class="ml-auto"></div>
                <ng-container *ngIf="user.is_staff">
                    <!-- History -->
                    <button class="w-full sm:w-auto sm:mr-4 text-slate-500" mat-flat-button (click)="onHistory()">
                        <mat-icon fontIcon="visibility"></mat-icon>
                        <span class="ml-2 mr-1">檢視修訂</span>
                    </button>

                    <!-- Delete -->
                    <mat-icon class="icon-size-5 cursor-pointer hover:text-red-500" [svgIcon]="'heroicons_outline:trash'"
                        (click)="onDelete()"></mat-icon>

                </ng-container>

                <!-- Export button-->
                <!-- <button class="ml-4" mat-flat-button color="success" (click)="onExport()">
                
            </button> -->
                <mat-icon class="icon-size-5 cursor-pointer hover:text-slate-900 ml-10" [svgIcon]="'heroicons_outline:arrow-down-tray'"
                    (click)="onExport()"></mat-icon>

                <!-- Save button-->
                <button class="w-full sm:w-auto sm:ml-10 bg-accent" mat-flat-button [color]="'primary'" (click)="onSave()">
                    <mat-icon fontIcon="save"></mat-icon>
                    <span class="ml-2 mr-1">Save</span>
                </button>
            </form>

            <div class="flex flex-col sm:ml-10">

            </div>

            <div class="flex flex-row sm:ml-auto">

            </div>

        </div>

        <mat-tab-group mat-stretch-tabs="false" [animationDuration]="'0'" [(selectedIndex)]="page.tab.index"
            (selectedTabChange)="onSelectedTabChange($event)">

            <mat-tab label="User Input">
                <ng-template matTabContent>

                    <!-- REL -->
                    <div class="relative flex flex-col w-full max-w-xs sm:max-w-5xl mx-auto">
                        <table class="table-auto w-full result-table mb-6">
                            <thead>
                                <tr>
                                    <th class="w-20">REL</th>
                                    <th colspan="2">Concept</th>
                                    <th colspan="2">BU</th>
                                    <th colspan="2">CT</th>
                                    <th colspan="2">NT</th>
                                    <th colspan="2">OT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngFor="let n of [{k:'_duration',v:'Duration(Day)'},{k:'_duty_rate',v:'Duty Rate(Hr)'},{k:'_hr',v:'Hr'}];let idx=index">
                                    <tr>
                                        <td *ngIf="idx==0" class="text-center font-semibold" rowspan="3">PL</td>
                                        <ng-container *ngFor="let m of ['concept','bu','ct','nt','ot']">
                                            <td class="text-center font-semibold">{{n.v}}</td>
                                            <td *ngIf="n.k!=='_hr'" class="edit"><input input type="number" (change)="change()" numeric-two-digit
                                                    [(ngModel)]="page.project['rel_'+ m + n.k]"></td>
                                            <td *ngIf="n.k==='_hr'" class="view">{{page.project['rel_'+ m
                                                +'_duration']===null||page.project['rel_'+ m+ '_duty_rate']===null?null:page.project['rel_'+ m +
                                                '_duration']/5*page.project['rel_'+ m
                                                + '_duty_rate'] |number:'1.0-2'}}</td>
                                        </ng-container>
                                    </tr>
                                </ng-container>

                            </tbody>
                        </table>
                    </div>

                    <!-- SV -->
                    <div class="relative flex flex-col w-full max-w-xs sm:max-w-5xl mx-auto">
                        <table class="table-auto w-full result-table mb-6">
                            <thead>
                                <tr>
                                    <th class="w-20">SV</th>
                                    <th colspan="2">Concept</th>
                                    <th colspan="2">BU</th>
                                    <th colspan="2">CT</th>
                                    <th colspan="2">NT</th>
                                    <th colspan="2">OT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngFor="let n of [{k:'_duration',v:'Duration(Day)'},{k:'_duty_rate',v:'Duty Rate(Hr)'},{k:'_hr',v:'Hr'}];let idx=index">
                                    <tr>
                                        <td *ngIf="idx==0" class="text-center font-semibold" rowspan="3">PL</td>
                                        <ng-container *ngFor="let m of ['concept','bu','ct','nt','ot']">
                                            <td class="text-center font-semibold">{{n.v}}</td>
                                            <td *ngIf="n.k!=='_hr'" class="edit"><input input type="number" (change)="change()" numeric-two-digit
                                                    [(ngModel)]="page.project['sv_'+ m + n.k]"></td>
                                            <td *ngIf="n.k==='_hr'" class="view">{{page.project['sv_'+ m +'_duration']===null||page.project['sv_'+
                                                m+ '_duty_rate']===null?null:page.project['sv_'+ m + '_duration']/5*page.project['sv_'+ m
                                                + '_duty_rate'] |number:'1.0-2'}}</td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <!-- PKG -->
                    <div class="relative flex flex-col w-full max-w-xs sm:max-w-5xl mx-auto">
                        <table class="table-auto w-full result-table mb-6">
                            <thead>
                                <tr>
                                    <th class="w-20">PKG</th>
                                    <th colspan="2">Concept</th>
                                    <th colspan="2">BU</th>
                                    <th colspan="2">CT</th>
                                    <th colspan="2">NT</th>
                                    <th colspan="2">OT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container
                                    *ngFor="let n of [{k:'_duration',v:'Duration(Day)'},{k:'_duty_rate',v:'Duty Rate(Hr)'},{k:'_hr',v:'Hr'}];let idx=index">
                                    <tr>
                                        <td *ngIf="idx==0" class="text-center font-semibold" rowspan="3">PL</td>
                                        <ng-container *ngFor="let m of ['concept','bu','ct','nt','ot']">
                                            <td class="text-center font-semibold">{{n.v}}</td>
                                            <td *ngIf="n.k!=='_hr'" class="edit"><input input type="number" (change)="change()" numeric-two-digit
                                                    [(ngModel)]="page.project['pkg_'+ m + n.k]"></td>
                                            <td *ngIf="n.k==='_hr'" class="view">{{page.project['pkg_'+ m
                                                +'_duration']===null||page.project['pkg_'+ m+ '_duty_rate']===null?null:page.project['pkg_'+ m +
                                                '_duration']/5*page.project['pkg_'+ m
                                                + '_duty_rate'] |number:'1.0-2'}}</td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <!-- Reliability/S&V Test -->
                    <table class="cust-table">
                        <thead>
                            <tr>
                                <th colspan="19">Reliability/S&V Test</th>
                            </tr>
                            <tr>
                                <th rowspan="2">Function</th>
                                <th rowspan="2">Test Item</th>
                                <th rowspan="2">Walk-in</th>
                                <th rowspan="2">All Need Test</th>
                                <th colspan="3">Concept</th>
                                <th colspan="3">BU</th>
                                <th colspan="3">CT</th>
                                <th colspan="3">NT</th>
                                <th colspan="3">OT</th>
                            </tr>

                            <tr>
                                <th>Need Test</th>
                                <th>Test UUT</th>
                                <th>Regression Rate</th>

                                <th>Need Test</th>
                                <th>Test UUT</th>
                                <th>Regression Rate</th>

                                <th>Need Test</th>
                                <th>Test UUT</th>
                                <th>Regression Rate</th>

                                <th>Need Test</th>
                                <th>Test UUT</th>
                                <th>Regression Rate</th>

                                <th>Need Test</th>
                                <th>Test UUT</th>
                                <th>Regression Rate</th>
                            </tr>

                        </thead>
                        <tbody>
                            <ng-container *ngFor="let func of page.data?.functions">
                                <ng-container *ngFor="let item of func.test_items;let idx=index">
                                    <tr>
                                        <!-- <tr class="hover:bg-gray-200"> -->
                                        <td *ngIf="idx == 0" class="text-center px-2" [rowSpan]="func.test_items?.length">{{func.name}}</td>
                                        <td class="px-2">{{item.item_name}}</td>
                                        <td class="edit" [ngClass]="checkNeedTest(item)"><input type="checkbox" class="hover:cursor-pointer"
                                                [(ngModel)]="item.record.walk_in" (change)="checkWalkin($event)" [disabled]="walkinDisable(item)"></td>
                                        <td class="edit" [ngClass]="checkNeedTest(item)"><input type="checkbox" class="hover:cursor-pointer"
                                                [(ngModel)]="item.record.all_need_test" (change)="checkAllNeedTest(item)"></td>

                                        <ng-container *ngFor="let n of ['concept','bu','ct','nt','ot']">
                                            <td class="edit" [ngClass]="{'need-test':item.record[n + '_need_test']}"><input type="checkbox"
                                                    class="hover:cursor-pointer" [(ngModel)]="item.record[n + '_need_test']" (change)="change(item)">
                                            </td>
                                            <td class="edit" [ngClass]="{'need-test':item.record[n + '_need_test']}"><input type="number"
                                                    [(ngModel)]="item.record[n + '_test_uut']" (change)="change()"
                                                    (keyup)="autoFill($event, n, '_test_uut')" numeric-only
                                                    [disabled]="!item.record[n + '_need_test']">
                                            </td>
                                            <td class="edit" [ngClass]="{'need-test':item.record[n + '_need_test']}"><input input type="number"
                                                    [(ngModel)]="item.record[n + '_regression_rate']" (change)="change()"
                                                    (keyup)="autoFill($event, n, '_regression_rate')" numeric-two-digit
                                                    [disabled]="!item.record[n + '_need_test']"></td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>

                </ng-template>
            </mat-tab>

            <mat-tab label="Equipment">
                <ng-template matTabContent>

                    <table class="table-auto w-full cust-table">
                        <thead>
                            <tr>
                                <th colspan="15">Reliability/S&V Test</th>
                            </tr>
                            <tr>
                                <th rowspan="2">Function</th>
                                <th rowspan="2">Test Item</th>
                                <th rowspan="2">Lab Location</th>
                                <th rowspan="2">Lab Rate</th>
                                <th colspan="2">Concept</th>
                                <th colspan="2">BU</th>
                                <th colspan="2">CT</th>
                                <th colspan="2">NT</th>
                                <th colspan="2">OT</th>
                                <th rowspan="2">Sub Total</th>
                            </tr>
                            <tr>
                                <th>HRS</th>
                                <th>Equipment</th>

                                <th>HRS</th>
                                <th>Equipment</th>

                                <th>HRS</th>
                                <th>Equipment</th>

                                <th>HRS</th>
                                <th>Equipment</th>

                                <th>HRS</th>
                                <th>Equipment</th>
                            </tr>
                        </thead>

                        <tbody *ngIf="page.data">

                            <ng-container *ngFor="let func of page.data?.functions">
                                <ng-container *ngFor="let item of func.test_items;let idx=index">
                                    <tr>
                                        <td *ngIf="idx == 0" class="text-center px-2" [rowSpan]="func.test_items?.length">{{func.name}}</td>
                                        <td class="px-2">{{item.item_name}}</td>
                                        <td class="view">{{item.lab_location}}</td>
                                        <td class="view" [ngClass]="{'text-red-600':item.current_fee==='no fee'}">{{item.current_fee}}</td>
                                        <td class="view">{{item.concept_equip_hrs | number:'1.0-2'}}</td>
                                        <td class="view">
                                            <ng-container *ngFor="let chamber of item.concept_chambers; let idx=index">
                                                <span [matTooltip]="idx==0?'Ratio: ' + item.concept_capacity+'W':''"
                                                    class="inline-flex items-center font-bold text-sm px-1.5 rounded-full tracking-wide" [ngClass]="{'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50':true,
                                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': chamber.name === '2K',
                                                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': chamber.name === 'remain'}">
                                                    <span class="leading-relaxed whitespace-nowrap">{{chamber.name}}</span>*{{chamber.count}}
                                                </span>
                                            </ng-container>
                                        </td>
                                        <td class="view">{{item.bu_equip_hrs | number:'1.0-2'}}</td>
                                        <td class="view">
                                            <ng-container *ngFor="let chamber of item.bu_chambers;let idx=index">
                                                <span [matTooltip]="idx==0?'Ratio: ' + item.bu_capacity+'W':''"
                                                    class="inline-flex items-center font-bold text-sm px-1.5 rounded-full tracking-wide" [ngClass]="{'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50':true,
                                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': chamber.name === '2K',
                                                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': chamber.name === 'remain'}">
                                                    <span class="leading-relaxed whitespace-nowrap">{{chamber.name}}</span>*{{chamber.count}}
                                                </span>
                                            </ng-container>
                                        </td>
                                        <td class="view">{{item.ct_equip_hrs | number:'1.0-2'}}</td>
                                        <td class="view">
                                            <ng-container *ngFor="let chamber of item.ct_chambers;let idx=index">
                                                <span [matTooltip]="idx==0?'Ratio: ' + item.ct_capacity+'W':''"
                                                    class="inline-flex items-center font-bold text-sm px-1.5 rounded-full tracking-wide" [ngClass]="{'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50':true,
                                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': chamber.name === '2K',
                                                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': chamber.name === 'remain'}">
                                                    <span class="leading-relaxed whitespace-nowrap">{{chamber.name}}</span>*{{chamber.count}}
                                                </span>
                                            </ng-container>
                                        </td>
                                        <td class="view">{{item.nt_equip_hrs | number:'1.0-2'}}</td>
                                        <td class="view">
                                            <ng-container *ngFor="let chamber of item.nt_chambers;let idx=index">
                                                <span [matTooltip]="idx==0?'Ratio: ' + item.nt_capacity+'W':''"
                                                    class="inline-flex items-center font-bold text-sm px-1.5 rounded-full tracking-wide" [ngClass]="{'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50':true,
                                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': chamber.name === '2K',
                                                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': chamber.name === 'remain'}">
                                                    <span class="leading-relaxed whitespace-nowrap">{{chamber.name}}</span>*{{chamber.count}}
                                                </span>
                                            </ng-container>
                                        </td>
                                        <td class="view">{{item.ot_equip_hrs | number:'1.0-2'}}</td>
                                        <td class="view">
                                            <ng-container *ngFor="let chamber of item.ot_chambers;let idx=index">
                                                <span [matTooltip]="idx==0?'Ratio: ' + item.ot_capacity+'W':''"
                                                    class="inline-flex items-center font-bold text-sm px-1.5 rounded-full tracking-wide" [ngClass]="{'bg-blue-200 text-blue-800 dark:bg-blue-600 dark:text-blue-50':true,
                                                        'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': chamber.name === '2K',
                                                        'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': chamber.name === 'remain'}">
                                                    <span class="leading-relaxed whitespace-nowrap">{{chamber.name}}</span>*{{chamber.count}}
                                                </span>
                                            </ng-container>
                                        </td>
                                        <td class="view">{{item.sub_total | number:'1.0-2'}}</td>
                                    </tr>

                                </ng-container>
                            </ng-container>
                        </tbody>
                    </table>

                </ng-template>
            </mat-tab>

            <mat-tab label="Man Power">
                <ng-template matTabContent>
                    <div class="relative flex flex-col w-full max-w-xs sm:max-w-5xl mx-auto overflow-x-auto">

                        <!-- Man Power -->
                        <table class="result-table mb-6">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Concept (hrs)</th>
                                    <th>BU (hrs)</th>
                                    <th>CT (hrs)</th>
                                    <th>NT (hrs)</th>
                                    <th>OT (hrs)</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="page.data">
                                <ng-container *ngFor="let func of page.data?.functions">
                                    <tr>
                                        <td class="text-center font-semibold">{{func.name}}</td>
                                        <ng-container *ngIf="func.name==='Reliability'">
                                            <td class="view">
                                                {{func.concept_man_hrs_sum==null?null:func.concept_man_hrs_sum+(page.project.rel_concept_duration/5*page.project.rel_concept_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.bu_man_hrs_sum==null?null:func.bu_man_hrs_sum+(page.project.rel_bu_duration/5*page.project.rel_bu_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.ct_man_hrs_sum==null?null:func.ct_man_hrs_sum+(page.project.rel_ct_duration/5*page.project.rel_ct_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.nt_man_hrs_sum==null?null:func.nt_man_hrs_sum+(page.project.rel_nt_duration/5*page.project.rel_nt_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.ot_man_hrs_sum==null?null:func.ot_man_hrs_sum+(page.project.rel_ot_duration/5*page.project.rel_ot_duty_rate)
                                                | number:'1.0-2'}}</td>
                                        </ng-container>
                                        <ng-container *ngIf="func.name==='S&V'">
                                            <td class="view">
                                                {{func.concept_man_hrs_sum==null?null:func.concept_man_hrs_sum+(page.project.sv_concept_duration/5*page.project.sv_concept_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.bu_man_hrs_sum==null?null:func.bu_man_hrs_sum+(page.project.sv_bu_duration/5*page.project.sv_bu_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.ct_man_hrs_sum==null?null:func.ct_man_hrs_sum+(page.project.sv_ct_duration/5*page.project.sv_ct_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.nt_man_hrs_sum==null?null:func.nt_man_hrs_sum+(page.project.sv_nt_duration/5*page.project.sv_nt_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.ot_man_hrs_sum==null?null:func.ot_man_hrs_sum+(page.project.sv_ot_duration/5*page.project.sv_ot_duty_rate)
                                                | number:'1.0-2'}}</td>
                                        </ng-container>
                                        <ng-container *ngIf="func.name==='Others'">
                                            <td class="view">
                                                {{func.concept_man_hrs_sum==null?null:func.concept_man_hrs_sum+(page.project.pkg_concept_duration/5*page.project.pkg_concept_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.bu_man_hrs_sum==null?null:func.bu_man_hrs_sum+(page.project.pkg_bu_duration/5*page.project.pkg_bu_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.ct_man_hrs_sum==null?null:func.ct_man_hrs_sum+(page.project.pkg_ct_duration/5*page.project.pkg_ct_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.nt_man_hrs_sum==null?null:func.nt_man_hrs_sum+(page.project.pkg_nt_duration/5*page.project.pkg_nt_duty_rate)
                                                | number:'1.0-2'}}</td>
                                            <td class="view">
                                                {{func.ot_man_hrs_sum==null?null:func.ot_man_hrs_sum+(page.project.pkg_ot_duration/5*page.project.pkg_ot_duty_rate)
                                                | number:'1.0-2'}}</td>
                                        </ng-container>

                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>

                        <ng-container *ngIf="page.data">
                            <!-- REL -->
                            <table class="table-auto w-full result-table mb-6">
                                <thead>
                                    <tr>
                                        <th class="w-20">REL</th>
                                        <th colspan="2">Concept</th>
                                        <th colspan="2">BU</th>
                                        <th colspan="2">CT</th>
                                        <th colspan="2">NT</th>
                                        <th colspan="2">OT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container
                                        *ngFor="let n of [{k:'_duration',v:'Duration(Day)'},{k:'_duty_rate',v:'Duty Rate(Hr)'},{k:'_hr',v:'Hr'}];let idx=index">
                                        <tr>
                                            <td *ngIf="idx==0" class="text-center font-semibold" rowspan="3">PL</td>
                                            <ng-container *ngFor="let m of ['concept','bu','ct','nt','ot']">
                                                <td class="text-center font-semibold">{{n.v}}</td>
                                                <td *ngIf="n.k!=='_hr'" class="view">{{page.project['rel_'+ m + n.k]}}</td>
                                                <td *ngIf="n.k==='_hr'" class="view">{{page.project['rel_'+ m
                                                    +'_duration']===null||page.project['rel_'+ m+ '_duty_rate']===null?null:page.project['rel_'+ m
                                                    +'_duration']/5*page.project['rel_'+ m+ '_duty_rate'] |number:'1.0-2'}}</td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>

                            <!-- SV -->
                            <table class="table-auto w-full result-table mb-6">
                                <thead>
                                    <tr>
                                        <th class="w-20">SV</th>
                                        <th colspan="2">Concept</th>
                                        <th colspan="2">BU</th>
                                        <th colspan="2">CT</th>
                                        <th colspan="2">NT</th>
                                        <th colspan="2">OT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container
                                        *ngFor="let n of [{k:'_duration',v:'Duration(Day)'},{k:'_duty_rate',v:'Duty Rate(Hr)'},{k:'_hr',v:'Hr'}];let idx=index">
                                        <tr>
                                            <td *ngIf="idx==0" class="text-center font-semibold" rowspan="3">PL</td>
                                            <ng-container *ngFor="let m of ['concept','bu','ct','nt','ot']">
                                                <td class="text-center font-semibold">{{n.v}}</td>
                                                <td *ngIf="n.k!=='_hr'" class="view">{{page.project['sv_'+ m + n.k]}}</td>
                                                <td *ngIf="n.k==='_hr'" class="view">{{page.project['sv_'+ m
                                                    +'_duration']===null||page.project['sv_'+ m+ '_duty_rate']===null?null:page.project['sv_'+ m +
                                                    '_duration']/5*page.project['sv_'+
                                                    m
                                                    + '_duty_rate'] |number:'1.0-2'}}</td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>

                            <!-- PKG -->
                            <table class="table-auto w-full result-table mb-6">
                                <thead>
                                    <tr>
                                        <th class="w-20">PKG</th>
                                        <th colspan="2">Concept</th>
                                        <th colspan="2">BU</th>
                                        <th colspan="2">CT</th>
                                        <th colspan="2">NT</th>
                                        <th colspan="2">OT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container
                                        *ngFor="let n of [{k:'_duration',v:'Duration(Day)'},{k:'_duty_rate',v:'Duty Rate(Hr)'},{k:'_hr',v:'Hr'}];let idx=index">
                                        <tr>
                                            <td *ngIf="idx==0" class="text-center font-semibold" rowspan="3">PL</td>
                                            <ng-container *ngFor="let m of ['concept','bu','ct','nt','ot']">
                                                <td class="text-center font-semibold">{{n.v}}</td>
                                                <td *ngIf="n.k!=='_hr'" class="view">{{page.project['pkg_'+ m + n.k]}}</td>
                                                <td *ngIf="n.k==='_hr'" class="view">{{page.project['pkg_'+ m
                                                    +'_duration']===null||page.project['pkg_'+ m+ '_duty_rate']===null?null:page.project['pkg_'+ m
                                                    +
                                                    '_duration']/5*page.project['pkg_'+ m
                                                    + '_duty_rate'] |number:'1.0-2'}}</td>
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </ng-container>
                    </div>
                </ng-template>
            </mat-tab>

        </mat-tab-group>
    </ng-container>
</ng-container>

<ng-container *ngIf="isHistory">
    <nre-history [project]="page.project" (closeEvent)="onCloseHistory($event)"></nre-history>
</ng-container>