table.default-item-table {
    @apply text-left;

    th {
        @apply border-2 text-left border-slate-500 p-0.5 px-1;
    }

    td {
        @apply border border-slate-500 p-0.5 px-1;

        .checkbox {
            @apply w-4 h-4 mt-1;
        }
    }

    .edit-str {
        @apply bg-blue-100 whitespace-nowrap;
        input {
            @apply w-full truncate;
        }
    }

    .edit-numeric {
        @apply text-center bg-blue-100 whitespace-nowrap w-20 sm:w-48;
        input {
            @apply w-full text-center truncate;
        }
    }

    .view {
        @apply text-center;
    }
}
