<div class="w-full">

    <div class="flex flex-auto">
        <div class="flex">
            <mat-form-field class="w-full sm:w-72 fuse-mat-dense">
                <mat-icon matPrefix fontSet="material-icons-outlined">search</mat-icon>
                <input type="search" matInput [autocomplete]="'off'" [placeholder]="'Search...'">
            </mat-form-field>
            
        </div>
        <div class="flex-auto">
            <button mat-icon-button class="ml-2 sm:ml-4" >
                <mat-icon [svgIcon]="'heroicons_solid:plus'"></mat-icon>
            </button>
        </div>
        <div class="sm:ml-auto">
            <!-- Save button-->
            <button class="ml-3" mat-flat-button [color]="'primary'">
                <mat-icon fontIcon="save"></mat-icon>
                <span class="ml-2 mr-1">Save</span>
            </button>
        </div>
    </div>
    <table class="table-auto w-full border-2 border-slate-500 cust-table">
        <thead>
            <tr>
                <th rowspan="2" class="text-center">NO</th>
                <th>Enterprise Reliability Test Procedures</th>
                <th class="text-center">人力工時</th>
                <th class="text-center">設備工時</th>
            </tr>
            <tr>
                <th>Minotaur SOW</th>
                <th class="text-center">(hr)</th>
                <th class="text-center">(hr)</th>
            </tr>
        </thead>
        <tbody *ngIf="page.items">
            <ng-container *ngFor="let item of page.items;let no=index;">
                <tr>
                    <td class="text-center">{{no+1}}</td>
                    <td>{{item.name}}</td>
                    <td class="edit"><input [(ngModel)]="item.man_working_hours" (change)="change()" numeric-two-digit></td>
                    <td class="edit"><input [(ngModel)]="item.equip_working_hours" (change)="change()" numeric-two-digit></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>