{% load i18n static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NRE</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'ng/styles.ef46db3751d8e999.css' %}">
</head>

<body>
    <app-root></app-root>    
    <script type="text/javascript" src="{% static 'ng/vendor.cdf3e0c0ab7ce4b0.js' %}" type="module"></script>
    <script type="text/javascript" src="{% static 'ng/polyfills.6b2666eec982e7c4.js' %}" type="module"></script> 
    <script type="text/javascript" src="{% static 'ng/main.e2dec27f2c8ad5ee.js' %}" type="module"></script>       
    <script type="text/javascript" src="{% static 'ng/runtime.dc5b7e733f61e8e6.js' %}" type="module"></script>
</body>

</html>