{% load i18n static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>NRE</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="{% static 'ng/styles.f9ce457d5a2e1992.css' %}">
</head>

<body>
    <app-root></app-root>    
    <script type="text/javascript" src="{% static 'ng/vendor.54be27b586e1d4d8.js' %}" type="module"></script>
    <script type="text/javascript" src="{% static 'ng/polyfills.04161806afbbd56a.js' %}" type="module"></script> 
    <script type="text/javascript" src="{% static 'ng/main.dff9349a5631a1c9.js' %}" type="module"></script>       
    <script type="text/javascript" src="{% static 'ng/runtime.323fff5b207c057b.js' %}" type="module"></script>
</body>

</html>