<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <div class="relative flex flex-auto w-full bg-gray-50 dark:bg-transparent ">

            <!-- Project list -->
            <div class="relative flex flex-auto flex-col w-full min-w-0 lg:min-w-80 lg:max-w-80  dark:bg-transparent">

                <!-- Header -->
                <div class="flex flex-col flex-0 pb-2 px-4 sm:px-8 border-b dark:bg-transparent">
                    <!-- Search -->
                    <div class="mt-4">
                        <mat-form-field class="fuse-mat-dense w-full" [subscriptSizing]="'dynamic'">
                            <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                            <input matInput [autocomplete]="'off'" [placeholder]="'Search project'" [(ngModel)]="searchText">
                        </mat-form-field>
                    </div>

                    <div class="flex items-center mt-2">
                        <input id="check_all" type="checkbox" class="w-4 h-4 hover:cursor-pointer accent-slate-600" (change)="checkAll($event)">
                        <label for="check_all" class="ml-4 font-medium cursor-pointer">ALL</label>

                        <button class="ml-auto" mat-icon-button (click)="onExport()">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-down-circle'"></mat-icon>
                        </button>
                    </div>
                </div>

                <!-- Project List -->
                <div class="flex-auto overflow-y-auto mt-4">
                    <ng-container *ngFor="let project of page.dataset.projects | searchBox:searchText">
                        <div class="z-20 flex items-center py-1 px-4 sm:px-8 cursor-pointer">
                            <div class="flex items-center">
                                <input [id]="project.name" type="checkbox" class="w-4 h-4 hover:cursor-pointer accent-slate-600"
                                    [(ngModel)]="project.checked" (change)="change()">
                                <label [for]="project.name" class="ml-4 font-medium cursor-pointer">{{project.name}}</label>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>

            <!-- Chart -->
            <ng-container *ngIf="displayed else noProjects">

                <div class="flex-auto border-l z-20 absolute inset-0 lg:static lg:inset-auto flex">
                    <!-- <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-1 gap-2 p-2 sm:px-4 w-full overflow-y-auto">                        
                        <div class="flex flex-col flex-auto bg-card border rounded-2xl">
                            <div class="flex flex-col flex-auto h-80 m-6">
                                <apx-chart [title]="chartNreUpdates.title" [series]="chartNreUpdates.series" [chart]="chartNreUpdates.chart"
                                    [colors]="chartNreUpdates.colors" [dataLabels]="chartNreUpdates.dataLabels"
                                    [plotOptions]="chartNreUpdates.plotOptions" [xaxis]="chartNreUpdates.xaxis" [tooltip]="chartNreUpdates.tooltip"
                                    #chartElement></apx-chart>
                            </div>
                        </div>
                        
                        <div class="flex flex-col flex-auto bg-card border rounded-2xl">
                            <div class="flex flex-col flex-auto h-80 m-6">
                                <apx-chart [title]="chartManHrs.title" [series]="chartManHrs.series" [chart]="chartManHrs.chart"
                                    [colors]="chartManHrs.colors" [dataLabels]="chartManHrs.dataLabels" [plotOptions]="chartManHrs.plotOptions"
                                    [xaxis]="chartManHrs.xaxis" [tooltip]="chartManHrs.tooltip" #chartElement></apx-chart>
                            </div>
                        </div>
                        
                        <div class="flex flex-col flex-auto bg-card border rounded-2xl">
                            <div class="flex flex-col flex-auto h-80 m-6">
                                <apx-chart [title]="chartEquipFee.title" [series]="chartEquipFee.series" [chart]="chartEquipFee.chart"
                                    [colors]="chartEquipFee.colors" [dataLabels]="chartEquipFee.dataLabels" [plotOptions]="chartEquipFee.plotOptions"
                                    [xaxis]="chartEquipFee.xaxis" [tooltip]="chartEquipFee.tooltip" #chartElement></apx-chart>
                            </div>
                        </div>

                    </div> -->

                    <div class="flex flex-col flex-auto overflow-y-auto px-4  border-l">

                        <!-- NRE更新次數 -->
                        <div class="w-full md:w-3/4 lg:w-1/2">
                            <div class="flex flex-col flex-auto mt-2 bg-card border rounded-2xl overflow-hidden">                                
                                <div class="flex flex-col flex-auto h-90 m-6 mb-12">
                                    <apx-chart [title]="chartNreUpdates.title" [series]="chartNreUpdates.series" [chart]="chartNreUpdates.chart"
                                        [colors]="chartNreUpdates.colors" [dataLabels]="chartNreUpdates.dataLabels"
                                        [plotOptions]="chartNreUpdates.plotOptions" [xaxis]="chartNreUpdates.xaxis"
                                        [tooltip]="chartNreUpdates.tooltip" #chartElement></apx-chart>
                                </div>
                            </div>
                        </div>

                        <!-- 人力工時 -->
                        <div class="w-full md:w-3/4 lg:w-1/2">
                            <div class="flex flex-col flex-auto mt-2 bg-card border rounded-2xl overflow-hidden">                                
                                <div class="flex flex-col flex-auto h-90 m-6 mb-12">
                                    <apx-chart [title]="chartManHrs.title" [series]="chartManHrs.series" [chart]="chartManHrs.chart"
                                        [colors]="chartManHrs.colors" [dataLabels]="chartManHrs.dataLabels" [plotOptions]="chartManHrs.plotOptions"
                                        [xaxis]="chartManHrs.xaxis" [tooltip]="chartManHrs.tooltip" #chartElement></apx-chart>
                                </div>
                            </div>
                        </div>

                        <!-- 設備費用 -->
                        <div class="w-full md:w-3/4 lg:w-1/2 pb-10">
                            <div class="flex flex-col flex-auto mt-2 bg-card border rounded-2xl overflow-hidden">                                
                                <div class="flex flex-col flex-auto h-90 m-6 mb-12">
                                    <apx-chart [title]="chartEquipFee.title" [series]="chartEquipFee.series" [chart]="chartEquipFee.chart"
                                        [colors]="chartEquipFee.colors" [dataLabels]="chartEquipFee.dataLabels"
                                        [plotOptions]="chartEquipFee.plotOptions" [xaxis]="chartEquipFee.xaxis" [tooltip]="chartEquipFee.tooltip"
                                        #chartElement></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <!-- No projects template -->
            <ng-template #noProjects>
                <div class="flex flex-auto flex-col items-center justify-center h-full border-l">
                    <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:chat'"></mat-icon>
                    <div class="mt-4 text-2xl font-semibold tracking-tight text-secondary">No project selected</div>
                </div>
            </ng-template>

        </div>

    </div>

</div>