/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

/* @import "../assets/fonts/inter/inter.css"; */
@import "material-icons/iconfont/material-icons.css";

/* -------------------------------------------------------------------------- */
/*  @ Form fields
/* -------------------------------------------------------------------------- */

/* "fill" appearance */
form {
    .mat-mdc-form-field.mat-form-field-appearance-fill {
        /* Hover */
        &:hover {
            .mat-mdc-form-field-focus-overlay {
                /* 
                border-radius: 0;
                opacity: 1 !important;
                @apply border-b bg-card border-indigo-700 #{'!important'};
                 */
            }
        }

        /* Focused */
        &.mat-focused {
            .mat-mdc-form-field-focus-overlay {
                /* 
                border-radius: 0;
                opacity: 1 !important;
                @apply border-b bg-card border-indigo-700 #{'!important'};
                 */
            }
        }

        /* Default style tweaks and enhancements */
        .mat-mdc-text-field-wrapper {
            /* 
            border: 0;
            @apply shadow-none #{'!important'};
             */
        }

        /* Infix */
        .mat-mdc-text-field-wrapper {
            /* .mat-mdc-form-field-flex {
                .mat-mdc-form-field-infix {
                    min-height: 2.5rem;
                }
            } */
        }
    }
}

/* -------------------------------------------------------------------------- */
/*  @ Snackbar
/* -------------------------------------------------------------------------- */
.mat-mdc-snack-bar-container.snackbar-customer {
    .mdc-snackbar__surface {
        @apply bg-transparent #{'!important'};
        @apply border-0 #{'!important'};
        @apply shadow-none #{'!important'};
    }
}
