<div class="w-full">
    <div class="flex flex-auto">
        <div class="flex">
            <mat-form-field class="w-full sm:w-40 fuse-mat-dense">
                <mat-select [placeholder]="'Customer'" [(value)]="page.customer" (selectionChange)="onSelectionChange($event.value)">
                    <ng-container *ngFor="let cust of page.customers;">
                        <mat-option [value]="cust.id">{{cust.name}}</mat-option>
                    </ng-container>
                </mat-select>
                <mat-icon matPrefix fontSet="material-icons-outlined">supervisor_account</mat-icon>
            </mat-form-field>

        </div>
        <div class="flex-auto">
            <button mat-icon-button class="ml-2 sm:ml-4" (click)="add()">
                <mat-icon [svgIcon]="'heroicons_solid:plus'"></mat-icon>
            </button>
        </div>
        <div class="sm:ml-auto">
            <!-- Save button-->
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="save()">
                <mat-icon fontIcon="save"></mat-icon>
                <span class="ml-2 mr-1">Save</span>
            </button>
        </div>
    </div>

    <table class="table-auto w-full border-2 border-slate-500 fee-table">

        <thead>
            <tr>
                <th colspan="4">Reliability/S&V Test</th>
            </tr>
            <tr>
                <th>Function</th>
                <th>Test Item</th>
                <th>Lab Location</th>
                <th>2023</th>
            </tr>
        </thead>

        <tbody *ngIf="page.data">
            <ng-container *ngFor="let func of page.data?.functions">
                <ng-container *ngFor="let item of func.test_items;let idx=index">

                    <tr *ngIf="idx==0">
                        <td class="text-center w-32" [rowSpan]="func.test_items?.length">{{func.name}}</td>
                        <td class="edit-item"><input [(ngModel)]="item.item_name" (change)="change()"></td>
                        <td class="edit-str"><input [(ngModel)]="item.lab_location" (change)="change()"></td>
                        <td class="edit-numeric"><input [(ngModel)]="item.fee" (change)="change()"numeric-two-digit></td>
                    </tr>

                    <tr *ngIf="idx>0">
                        <td class="edit-item"><input [(ngModel)]="item.item_name" (change)="change()"></td>
                        <td class="edit-str"><input [(ngModel)]="item.lab_location" (change)="change()"></td>
                        <td class="edit-numeric"><input [(ngModel)]="item.fee" (change)="change()"numeric-two-digit></td>
                        <!-- <td class="edit-select">
                            <select>
                                <option>Compal PCP</option>
                                <option>Outsourcing</option>
                            </select>
                        </td> -->
                        
                    </tr>

                </ng-container>
                <tr>

                </tr>
            </ng-container>
        </tbody>

    </table>

</div>