table.fee-table {
    th {
        @apply border-2 text-center border-slate-500 p-0.5;
    }

    td {
        @apply border border-slate-500 p-0.5;

        .checkbox {
            @apply w-4 h-4 mt-1;
        }
    }

    .edit-item {
        @apply bg-blue-100 whitespace-nowrap;

        input {
            @apply w-full truncate;
        }
    }

    .edit-str {
        @apply bg-blue-100 whitespace-nowrap w-36;

        input {
            @apply w-full text-center truncate;
        }
    }

    .edit-select {
        @apply bg-blue-100 w-36;        
 
        select {
            @apply w-full text-center leading-tight whitespace-nowrap bg-blue-100;
        }
    }

    .edit-numeric {
        @apply bg-blue-100 text-center whitespace-nowrap w-24;

        input {
            @apply w-full text-center truncate;
        }
    }

    .view {
        @apply text-center;
    }
}
