<div class="w-full">
    <div class="flex flex-auto">
        <div class="flex">
            <mat-form-field class="w-full sm:w-40 fuse-mat-dense">
                <mat-select [placeholder]="'Customer'" [(value)]="page.customer" (selectionChange)="onSelectionChange($event.value)">
                    <ng-container *ngFor="let cust of page.customers;">
                        <mat-option [value]="cust.id">{{cust.name}}</mat-option>
                    </ng-container>
                </mat-select>
                <mat-icon matPrefix fontSet="material-icons-outlined">supervisor_account</mat-icon>
            </mat-form-field>

        </div>
        <div>
            <button class="ml-3" mat-flat-button [color]="'basic'" (click)="onDownload()">
                <mat-icon class="icon-size-5 text-black" [svgIcon]="'heroicons_outline:arrow-down-tray'"></mat-icon>
                <span class="ml-2 mr-1">Download Template</span>
            </button>
        </div>
        <div class="ml-auto">
            <button class="ml-3" mat-flat-button [color]="'basic'" (click)="onImport()">
                <mat-icon class="icon-size-5 text-black" [svgIcon]="'heroicons_outline:arrow-up-tray'"></mat-icon>
                <span class="ml-2 mr-1">Import</span>
            </button>
        </div>
        <div>
            <!-- Save button-->
            <button class="ml-3" mat-flat-button [color]="'basic'" (click)="onSave()" *ngIf="page.data && page.data.length>0">
                <mat-icon fontIcon="save"></mat-icon>
                <span class="ml-2 mr-1">Save</span>
            </button>
        </div>
    </div>

    <table class="fee-table">

        <thead>
            <tr>
                <th colspan="5">Reliability/S&V Test</th>
            </tr>
            <tr>
                <th rowspan="2">Function</th>
                <th rowspan="2">Test Item</th>
                <th rowspan="2">Lab Location</th>
                <th colspan="2">{{currentYear}}</th>
            </tr>
            <tr>
                <th>2K</th>
                <th>Walk-in</th>
            </tr>
        </thead>

        <tbody *ngIf="page.data">
            <ng-container *ngFor="let func of page.data?.functions">
                <ng-container *ngFor="let item of func.test_items;let idx=index">

                    <tr>
                        <td *ngIf="idx==0" class="text-center w-32" [rowSpan]="func.test_items?.length">{{func.name}}</td>
                        <td class="px-2">{{item.item_name}}</td>
                        <td class="px-2">{{item.lab_location}}</td>
                        <ng-container *ngFor="let fee of item.fee; let idx=index">
                            <ng-container *ngIf="fee.chamber==='2K' && idx==0">
                                <td class="px-2">{{fee.amount}}</td>
                                <ng-container *ngIf="item.fee.length==1">
                                    <td></td>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="fee.chamber==='WALKIN' && idx==1">
                                <td class="px-2">{{fee.amount}}</td>
                            </ng-container>
                            <ng-container *ngIf="fee.chamber==='WALKIN' && idx==0">
                                <td></td>
                                <td class="px-2">{{fee.amount}}</td>
                            </ng-container>
                        </ng-container>

                    </tr>


                    <!-- <tr *ngIf="idx>0">
                        <td class="edit-item"><input [(ngModel)]="item.item_name" (change)="change()"></td>
                        <td class="edit-str"><input [(ngModel)]="item.lab_location" (change)="change()"></td>
                        <td class="edit-str"><input [(ngModel)]="item.lab_location" (change)="change()"></td>
                        <td class="edit-numeric"><input [(ngModel)]="item.fee" (change)="change()" numeric-two-digit></td>
                    </tr> -->

                </ng-container>
                <tr>

                </tr>
            </ng-container>
        </tbody>

    </table>

</div>